.card-teal {
  background-image:
    radial-gradient(circle at 10% 90%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(circle at 90% 10%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    linear-gradient(135deg, #20c997, #0ca678);
}

.card-blue {
  background-image:
    radial-gradient(circle at 10% 90%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(circle at 90% 10%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    linear-gradient(135deg, #339af0, #1971c2);
}

.card-purple {
  background-image:
    radial-gradient(circle at 10% 90%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(circle at 90% 10%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    linear-gradient(135deg, #9775fa, #7048e8);
}

.card-orange {
  background-image:
    radial-gradient(circle at 10% 90%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(circle at 90% 10%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 20%),
    linear-gradient(135deg, #ff922b, #f76707);
}